.img{
    background-image: url(/src/Assets/profile.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}